body {
  color: #515151;
  font-family: Arial, Helvetica, sans-serif, sans-serif;
  margin-top: -20px;
}

html {
  overflow-y: scroll;
}

.container-fluid {
  max-width: 1104px;
  margin: auto !important;
}

.page-header {
  border: 0px !important;
  /* padding: 0px !important; */
}

.wrapper {
  background: white;
  margin: auto;
  padding: 0;
  width: 100%;
}

/**********************************************************************/
/************************** COMMON ELEMENTS **************************/
/********************************************************************/
h1, h2, h3, h4, h5, h6 {
  color: #333333;
  font-family: Arial, Helvetica, sans-serif;
}

p {
  line-height: 1.6;
  font-size: 15px;
}

li {
  font-size: 15px;
}

/**MJW (links) **/
a:link {
  color: #1F648E;
}

a:visited {
  color: #1F648E;
}

a:hover {
  color: #2886BC;
  text-decoration: none;
}

a:active {
  color: #1F648E;
}

a:focus {
  outline: none;
}

.btn {
  border-radius: 0px;
}

.btn-info {
  background-color: #1B80B6 !important;
  border: 0px !important;
}

/** Custom styles **/
.vis-hidden {
  visibility: hidden !important;
}

a {
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
}

h2.sectionTitle {
  color: #428BCA;
  font-size: 50px;
  margin-top: 0;
  text-align: center;
  font-weight: 700;
  margin-bottom: 50px;
}

h3.sectionTitle {
  text-align: center;
  margin-bottom: 50px;
  margin-top: -20px;
}

.altWrap {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  /*background-color: #f7f7f7; */
  background-color: #fff;
  border-color: #FFF;
}

/* set a max-width for horizontal fluid layout and make it centered */
.container-fluid {
  margin-right: auto;
  margin-left: auto;
  /* max-width: 1600px;  */
  /* or 950px */
}

/**********************************************************************/
/************************ TABBED CONTENT *****************************/
/********************************************************************/
.ui-widget.ui-widget-content {
  border: 0px;
}

.tabbedcontent {
  border: none !important;
  margin-top: 25px !important;
}

.ui-tabs-nav {
  background: none;
  border: none;
  padding: 0 !important;
}

.ui-tabs .ui-tabs-nav li {
  float: right !important;
  margin: 0 0 0 .2em;
  z-index: 10;
}

.ui-tabs-panel {
  border: solid 1px #ddd !important;
  border-top: 0 !important;
  /* padding: 25px 25px !important; */
}

.ui-tabs-panel p {
  display: block !important;
  font-size: 14px !important;
}

#levels, #tidecal, #datums, #climatology{
  height: auto !important;
}

div#levels.ui-tabs-panel {
  border: solid 1px #ddd;
  border-top: 0 !important;
  padding-left: 7px !important;
  padding-right: 7px !important;
  margin-top: -10px;
}

div#datums.ui-tabs-panel {
  padding: 1em 1.35em 1em 1em;
}

.ui-tabs-tab {
  background: #f2f2f2 !important;
  border: 0 !important;
  border-bottom: solid 1px #f2f2f2 !important;
  border-radius: 0px !important;
  line-height: 30px;
}

.ui-tabs-tab:hover {
  background: #f6f6f6 !important;
  border: 0 !important;
  border-bottom: solid 1px #f2f2f2 !important;
}

.ui-tabs-active {
  background: white !important;
  border: solid 1px #ddd !important;
  border-top: solid 3px #1B80B6 !important;
  border-bottom: 0 !important;
}

.ui-tabs-active:hover {
  background: white !important;
  border: solid 1px #ddd !important;
  border-top: solid 3px #1B80B6 !important;
  border-bottom: 0 !important;
}

.ui-tabs-active a {
  color: #333 !important;
}

.ui-tabs .ui-tabs-nav .ui-tabs-anchor {
  padding: 0.5em 1.15em;
}

.cal-pills a {
  background: #f2f2f2 !important;
  border-radius: 0px !important;
  border: solid 1px #eee !important;
  color: #787878;
}

.cal-pills a:hover {
  background: #f6f6f6 !important;
}

.cal-pills li.active a {
  background: #fff !important;
  color: #454545 !important;
}

.cal-units-pills {
  margin-bottom: 0px;
}

.cal-units-pills li {
  width: 100%;
  margin: 0 !important;
}

.cal-format-pills {
  margin-bottom: 25px;
}

.cal-format-pills li {
  width: 33.3%;
  margin: 0 !important;
}

/**********************************************************************/
/************************ PRODUCT ************************************/
/********************************************************************/
#product_name {
  display: inline;
  float: right;
  height: 43px;
  /* background: #1B80B6; */
  font-size: 20px;
  font-weight: bold;
  /* color: #fff; */
  margin-top: 8px;
  padding: 10px;
}

#selectbox {
  /* display: inline;
  float: left; */
  margin-top: 5px;
  max-width: 60%;
}

.scroller {
  /* height: 60px; */
  /* border: 1px solid #D4CCB0;
   border-radius: 6px; */
  /* overflow: auto; */
  /* min-width: 470px; */
  /* width: 50%; */
  float: right;
}

.select2-results__option--highlighted {
  background-color: #1B80B6 !important;
}

.pred-slct-head {
  margin: 0 0 5px 10px;
  color: #454545;
  font-size: 16px;
  font-weight: bold;
  padding-top: 10px;
}

/* .dwnld-btn {
  position: relative;
  left: 550px;
  top:0px;
} */
.dwnld-btn {
  /* position: element(#graph_cal);
    transform: translateY(-100%);
    left: 550px; */
}

#datepicker {
  /* background: #f2f2f2; */
  border: solid 1px #eee !important;
}

#datepicker .active {
  background: #1B80B6;
}

.datepicker-inline {
  width: auto;
  margin: 0 auto;
}

.datepicker td, .datepicker th {
  width: 25%;
}

#about-text {
  border: solid 1px #eee;
  padding: 13px 20px;
}
#tideplot1{
  /* min-width: 500px; */
}

.climatologyGraphCollection{
  /* min-width: 1050px !important; */
}

/* .js-plotly-plot,
.plot-container {
          width: 40vw;
} */

/* #tideplot1, #tideplot2 {
   min-width: 310px;
   width: 100%;
   height: 400px;
   margin: 0 auto;
}
.svg-container {
  width: 100% !important;
}
.main-svg {
  width: 100% !important;
} */
/* #datumtable, #datumgraphic {
  display: inline;
  float: left;
} */
/**********************************************************************/
/************************ DATUM TABLE ********************************/
/********************************************************************/
#datumtable table,
th,
td {
  /* border: 1px solid black; */
  padding: 4px 40px 4px 5px;
  background-color: rgba(255, 255, 255, 0.0);
  margin-left: 7px;
}

#datumtable table,
th, td {
  text-align: left;
}

#datumtable th {
  background-color: #1B80B6;
  color: white;
}

#datumtable tr:nth-child(1) {
  display: none;
}

/* remove table header*/
#datumtable tr:nth-child(odd) {
  background-color: #f2f2f2;
}

/**********************************************************************/
/************************ METADATA TABLE *****************************/
/********************************************************************/
#metaTable2 table,
th, td {
  text-align: left;
  border: 0px;
}

#metaTable2 tr {
  /* background-color: #1B80B6; */
  color: black;
}

#metaTable2 table,
th,
td {
  /* border: 1px solid black; */
  padding: 2px;
  /* background-color: rgba(255, 255, 255, 0.0); */
}

#metaTable2 table {
  border: 2px solid;
}

#metaTable2 tr:nth-child(3) {
  background-color: #f2f2f2;
}

#metaTable2 tr:nth-child(4) {
  background-color: #f2f2f2;
}

/**********************************************************************/
/************************ DATA TABLE *********************************/
/********************************************************************/
#metaTable1 tr {
  color: black;
}

#metaTable1 table,
th,
td {
  padding: 2px;
}

#metaTable1 table {
  border: 2px solid;
}

#metaTable1 tr:nth-child(odd) {
  background-color: #f2f2f2;
}

#metaBox {
  display: none;
}

/* Meta data element that is shared across tabs */
.ui-tabs-panel-meta {
  border: solid 1px #ddd;
  border-bottom: 0;
  padding: 20px 23px 20px 20px !important;
  margin-bottom: -10px;
}

/* #datumtable tr {
    background-color: red !important;
    color: black;
} */
/**********************************************************************/
/************************ UNIT TOGGLE BUTTONS *******************/
/********************************************************************/
.switch-toggle.switch-candy,
.switch-light.switch-candy>span {
  background-color: #f2f2f2 !important;
  border-radius: 0px !important;
  /* box-shadow: none !important; */
}

.switch-light.switch-candy span span,
.switch-light.switch-candy input:checked~span span:first-child,
.switch-toggle.switch-candy label {
  color: black !important;
  font-weight: normal !important;
  text-align: center;
  text-shadow: none !important;
  min-height: 2.6em !important;
  line-height: 2.6em !important;
}

.switch-light.switch-candy input~span span:first-child,
.switch-light.switch-candy input:checked~span span:nth-child(2),
.switch-candy input:checked+label {
  color: white !important;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}

.switch-candy a {
  border: none !important;
  border-radius: 0px !important;
  box-shadow: none !important;
  background-color: #1B80B6 !important;
  background-image: none !important;
}

.switch-candy-blue a {
  background-color: #38a3d4;
}

.switch-candy-yellow a {
  background-color: #f5e560;
}

label {
  margin-bottom: 10px !important;
}

#metaCountry, #metaLAT, #metaLONG {
  display: block;
  width: 100px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.switch-light:hover {
  cursor: pointer;
}

.input-group-btn {
  font-size: 16px;
}

/* input[type=checkbox]:disabled {
    cursor: not-allowed;
}
.datum-tz:hover:disabled {
  cursor: none;
} */
/**********************************************************************/
/************************ CLIMATOLOGY RELATED *******************/
/********************************************************************/
#extremeMonthly {
  /* display: none; */
}

#climateMonthly {
  /* display: none; */
}

#epochRangeText>p {
  background-color: #f2f2f2;
}

#climatologyLegend {
  border-radius: 3px;
  border: 1px solid #D1D3D4;
  padding: 15px;
}

#climatologyTitle {
  margin-top: 0px;
  margin-bottom: 15px;
}

#textBoxTitle {
  /* padding-top: 14px; */
  text-align: center;
}

/*Radio button style from: https://bootsnipp.com/snippets/Zk2Pz */
/* .funkyradio div {
  clear: both;
  overflow: hidden;
}

.funkyradio div:hover:after{
    content: '';
	position: absolute;

	border: 18px solid transparent;
	border-left-color: #D1D3D4;
	border-right: 0px;
	margin-top: -0px;
	margin-right: -0px;
}

.funkyradio label {
  width: 100%;
  border-radius: 3px;
  border: 1px solid #D1D3D4;
  font-weight: normal;
}

.funkyradio input[type="radio"]:empty,
.funkyradio input[type="checkbox"]:empty {
  display: none;
}

.funkyradio input[type="radio"]:empty ~ label,
.funkyradio input[type="checkbox"]:empty ~ label {
  position: relative;
  line-height: 2.5em;
  text-indent: 3.25em;
  margin-top: 0em;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.funkyradio input[type="radio"]:empty ~ label:before,
.funkyradio input[type="checkbox"]:empty ~ label:before {
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  content: '';
  width: 2.5em;
  background: #D1D3D4;
  border-radius: 3px 0 0 3px;
}

.funkyradio input[type="radio"]:hover:not(:checked) ~ label,
.funkyradio input[type="checkbox"]:hover:not(:checked) ~ label {
  color: #888;
}

.funkyradio input[type="radio"]:hover:not(:checked) ~ label:before,
.funkyradio input[type="checkbox"]:hover:not(:checked) ~ label:before {
  content: '\2714';
  text-indent: .9em;
  color: #C2C2C2;
}

.funkyradio input[type="radio"]:checked ~ label,
.funkyradio input[type="checkbox"]:checked ~ label {
  color: #777;
}

.funkyradio input[type="radio"]:checked ~ label:before,
.funkyradio input[type="checkbox"]:checked ~ label:before {
  content: '\2714';
  text-indent: .9em;
  color: #333;
  background-color: #ccc;
}

.funkyradio input[type="radio"]:focus ~ label:before,
.funkyradio input[type="checkbox"]:focus ~ label:before {
  box-shadow: 0 0 0 3px #999;
}

.funkyradio-default input[type="radio"]:checked ~ label:before,
.funkyradio-default input[type="checkbox"]:checked ~ label:before {
  color: #333;
  background-color: #ccc;
}

.funkyradio-primary input[type="radio"]:checked ~ label:before,
.funkyradio-primary input[type="checkbox"]:checked ~ label:before {
  color: #fff;
  background-color: #337ab7;
}

.funkyradio-success input[type="radio"]:checked ~ label:before,
.funkyradio-success input[type="checkbox"]:checked ~ label:before {
  color: #fff;
  background-color: #5cb85c;
}

.funkyradio-danger input[type="radio"]:checked ~ label:before,
.funkyradio-danger input[type="checkbox"]:checked ~ label:before {
  color: #fff;
  background-color: #d9534f;
}

.funkyradio-warning input[type="radio"]:checked ~ label:before,
.funkyradio-warning input[type="checkbox"]:checked ~ label:before {
  color: #fff;
  background-color: #f0ad4e;
}

.funkyradio-info input[type="radio"]:checked ~ label:before,
.funkyradio-info input[type="checkbox"]:checked ~ label:before {
  color: #fff;
  background-color: #5bc0de;
} */
/* * {box-sizing: border-box}
body {font-family: "Lato", sans-serif;} */
/* Style the tab */
.tab {
  float: left;
  border: 1px solid #ddd;
  border-right-color: #337ab7;
  background-color: #f1f1f1;
  border-right: none;
  width: 33%;
  /* height: 300px; */
}

/* Style the buttons inside the tab */
.tab button {
  display: block;
  background-color: inherit;
  color: #333333;
  padding: 0px 10px;
  width: 100%;
  height: 34px;
  /* border: none; */
  border-top: none;
  border-bottom: none;
  border-right: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
  font-size: 1em;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
  color: white;
}

/* Create an active/current "tab button" class */
.tab button.active {
  background-color: white;
  /*#337ab7*/
  color: #337ab7;
  border-left-width: 17px;
  border-left-color: #337ab7;
  border-right: none;
}

/* Style the tab content */
.tabcontent {
  float: left;
  padding: 0px 12px;
  border: 1px solid #ddd;
  border-left: none;
  width: 67%;
  height: 138px;
  /* background-color: #337ab7;
  color: white; */
}

.tabcontent h3 {
  margin-top: 10px;
}

#climatologyProductDesc {
  padding-top: 15px;
}

footer {
  border: solid 1px #ddd;
  padding: 10px 15px;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* h3{
  overflow: hidden;
    animation: slide 0.3s linear;
    z-index: -100;
} */
@keyframes slide {
  0% {
    margin-left: -200px;
  }

  50% {
    margin-left: -100px;
  }

  100% {
    margin-left: 0;
  }
}

/* this will prevent trace 2 from toggling from the legend
/*
/* hides the svg dom element that has the click handler responsible for toggling */
/*#climateDaily .legend .traces:nth-of-type(1) .legendtoggle {
   display: none;
} */
/* just for presentation: shows the default cursor insted of the text cursor */
/*#climateDaily .legend .traces:nth-of-type(1) .legendtext {
   cursor: default;
}*/
/**********************************************************************/
/************************ MOBILE STYLE *******************/
/********************************************************************/
@media only screen and (max-width: 767px) {
  body {
    /* background-color: lightblue; */
  }

  .ui-tabs .ui-tabs-panel {
    padding: 0;
  }

  .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    position: relative;
    /* min-height: 100px; */
    padding-right: 5px;
    padding-left: 5px;
    /* width: 100%; */
  }

  .ui-tabs-tab {
    line-height: 20px;
  }

  .ui-tabs .ui-tabs-nav .ui-tabs-anchor {
    padding: 0.5em 0.7em;
  }

  .ui-widget-content {
    border: none !important;
  }

  li {
    font-size: 12px;
  }

  .nav>li>a {
    padding: 6px 6px;
  }

  .ui-tabs-panel-meta {
    border: none;
    padding: 0 !important;
  }

  .ui-tabs .ui-tabs-nav li.ui-tabs-active {
    margin-bottom: -2px;
    margin-left: 0;
    padding-bottom: 0px;
  }

  .ui-tabs .ui-tabs-nav li {
    margin: 0 0 -2px .1em;
  }

  .ui-tabs-active {
    background: white !important;
    border: solid 2px #f2f2f2 !important;
    border-top: solid 3px #1B80B6 !important;
    border-bottom: 0 !important;
  }

  .ui-tabs-active:hover {
    background: white !important;
    border: solid 2px #f2f2f2 !important;
    border-top: solid 3px #1B80B6 !important;
    border-bottom: 0 !important;
  }

  .ui-tabs-panel p {
    display: block !important;
    font-size: 12px !important;
  }

  .select2-container {
    width: 95vw !important;
    z-index: 999999999 !important;
  }

  .scroller {
    padding-top: 10px;
    float: left;
  }

  .tab {
    width: 37%;
  }

  .tab button {
    font-size: 0.89em;
  }

  .tab button.active {
    background-color: white;
    color: #337ab7;
    border-left-width: 10px;
    border-left-color: #337ab7;
    border-right: none;
  }

  .tabcontent {
    width: 63%;
  }

  #unitsButtonsContainer {
    padding-top: 1.5vh;
    padding-bottom: 1.5vh;
  }

  #about-text {
    border: none;
    padding: 0px 10px;
  }

  #calendarDiv {
    padding-top: 10px;
  }

  #levels, #tidecal, #datums, #climatology{
    height: auto !important;
  }

  .js-plotly-plot,
  .plot-container {
            width: 95vw;
  }

  footer {
    border: solid 1px #f2f2f2;
    padding: 10px 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-left: none;
    border-right: none;
    border-bottom: none;
  }
}
